################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EsportsDatabase/.vs/EsportsDatabase/FileContentIndex/672a7823-6259-4c27-8d39-02c00a8d2d29.vsidx
